footer.footer 
  .container
    .footer__inner 
      .footer__upper
        .footer__logo 
          img(src="./img/header/logo.svg", alt="Logo")
        nav.footer__menu
          a(href="#").footer__item Demos
          a(href="#").footer__item Features
          a(href="#").footer__item Pricing
          a(href="#").footer__item Contact
        .footer__icons
          a(href="#").icon._icon-insta
          a(href="#").icon._icon-linkedin
          a(href="#").icon._icon-fb
          a(href="#").icon._icon-tw
      .footer__lower
        .footer__rights Terms & condition
        .footer__rights Privacy policy
        .footer__rights All Right Reserved @ plowv.com
