header.header 
  .container
    .header__inner 
      .header__logo 
        img(src="./img/header/logo.svg", alt="Logo")
      nav.header__menu.menu
        a(href="#").menu__item.menu__item_1 Demos
        a(href="#").menu__item.menu__item_2 Features
        a(href="#").menu__item.menu__item_3 Pricing
        a(href="#").menu__item.menu__item_4 Contact
      .header__active 
        a(href="#").header__login Login 
        a(href="#").header__sign-up.btn Sign up
      .burger
        span
        span
        span

