.lock {
  overflow: hidden;
}

.container {
  max-width: $containerWidth + px;
  width: 100%;
  margin: 0 auto;
  @include adaptive-value('padding-left', 5, 24, 1);
  @include adaptive-value('padding-right', 5, 24, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  .page {
    flex: 1 1 auto;
  }
  height: 100vh;
}

.title {
  font-family: $secondary;
  font-weight: 600;
  @include font-size(48, 24);
  line-height: calc(70 / 48 * 100%);
  text-transform: capitalize;
  color: $darkBlue;
}

.big-text {
  @include font-size(20, 16);
  line-height: calc(36 / 20 * 100%);
  color: $grey;
}

.text {
  font-size: rem(18);
  line-height: calc(36 / 18 * 100%);
  color: $grey;
}

.btn {
  font-family: $secondary;
  text-align: center;
  font-size: rem(18);
  line-height: calc(28 / 18 * 100%);
  background-color: $orange;
  border-radius: 35px;
  padding: rem(24) rem(40);
  color: $white;
  font-weight: 500;
}

.shape {
  background: url("../img/svgs/shape.svg") center bottom / 100% auto no-repeat;
}