.footer {
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__upper {
    @include adaptive-value('padding-top', 129, 80, 1);
    @include adaptive-value('padding-bottom', 58, 0, 1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >*:not(:last-child) {
      margin-right: 25px;
    }
  }


  &__logo {
    width: 138px;
    height: 31px;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 48px;
    }
    font-size: 18px;
    line-height: calc(24 / 18 * 100%);
    color: $black;
    @include underline($orange);
  }

  &__icons {
    display: flex;
    align-items: center;
    *:not(:last-child){
      margin-right: 40px;
    }
  }

  &__lower {
    position: relative;
    padding-top: 40px;
    @include adaptive-value('padding-bottom', 60, 40, 1);
    display: flex;
    &:before {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      border-top: 1px solid $grey;
      opacity: 0.2;
    }
  }

  &__rights {
    &:nth-child(1), &:nth-child(3) {
      flex: 1 1 25%;
    }

    &:nth-child(2) {
      flex: 1 1 50%;
    }
    white-space: nowrap;
  }
}
.icon {
  color: $darkBlue;
  font-size: rem(17);
}

._icon-tw {
  color: #5BC17F;
}

@media (max-width: 831px) {
  .footer {
    &__upper {
      flex-direction: column;
      row-gap: 48px;
    }

    &__icons {
      order: 2;
    }

    &__menu {
      order: 3;
    }

    ._icon-tw {
      color: $orange;
    }

    &__lower {
      flex-direction: column;
      row-gap: 24px;
      &:before {
        display: none;        
      }
    }

    &__rights {
      color: $grey;
      opacity: 0.5;
    }
  }

}

@media (max-width: $bp4) {
  .footer {
    &__menu {
      flex-direction: column;
      align-items: flex-start;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
      &:first-child {
        order: 4;
      }
    }
  }
}