@import "fonts", "null", "vars", "mixins", "blocks";

body {
  font-family: $primary;
}

// !styles for burger
// .burger {
//   display: none;
//   width: 40px;
//   height: 25px;
//   z-index: 100;

//   span {
//     position: absolute;
//     display: block;
//     width: 100%;
//     height: 3px;
//     background: #000;
//     transition-duration: 0.3s;
//   }

//   *:nth-child(1) {top: 0;}
//   *:nth-child(2) {top: 11px;}
//   *:nth-child(3) {bottom: 0;}

//   span:last-child {
//     margin: 0;
//   }

//   &.active {
//     *:nth-child(1) {
//       transform: rotate(45deg);
//       top: 11px;
//     }

//     *:nth-child(2) {
//       display: none;
//     }

//     *:nth-child(3) {
//       transform: rotate(-45deg);
//       bottom: 11px;
//     }
//   }

//   @media (max-width: $bp2) {
//     display: block;
//   }
// }


//! media for menu
// @media (max-width: 888px) {
//   &.active {
//     top: 0;
//   }
//   padding: 60px 0 0 0;
//   position: absolute;
//   width: 100%;
//   height: 100vh;
//   flex-direction: column;
//   align-items: center;
//   z-index: 50;
//   background-color: rgba(255, 255, 255, 0.95);
//   top: -100vh;
//   left: 0;
//   transition-duration: 0.5s;
//   overflow: auto;
//   >* {
//     margin-bottom: 30px;
//     margin-right: 0;
//   }
//   >*:last-child {
//     margin-bottom: 0;
//   }
// }