//colors
$white: #fff;
$black: #1C0E0D;
$darkBlue: #18063C;
$orange: #FF553E;
$lightOrange: #FFF8F2;
$grey: #404040;

//width
$maxWidth: 1920;
$containerWidth: 1170;

//breakpoints
$bp1: 1200px;
$bp2: 992px;
$bp3: 768px;
$bp4: 480px;
$bp5: 320px;


// fonts
$root-font-size: 16;
$primary: Inter;
$secondary: Poppins;